/* ===================================================================
 * fonts.scss)
 *
 * ------------------------------------------------------------------- */

/*
 * Roboto
================================================================================ */

@font-face {
	font-family: zhuanshu;
	src: url("../fonts/JinMeiYinZhuanTi.5f698311daa3.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: lishu;
	src: url("../fonts/JinMeiXinMaoLiQuanZiTi.01e40818a0dc.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: sxt;
	src: url("../fonts/sxt.3fd9ae457048.ttf");
	font-style: normal;
	font-weight: normal;
}


@font-face {
	font-family: "roboto-light";
	src: url("../fonts/roboto/roboto-light-webfont.127a3720fdf6.woff2") format("woff2"), url("../fonts/roboto/roboto-light-webfont.03b3fae4e632.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "roboto-regular";
	src: url("../fonts/roboto/roboto-regular-webfont.f70e0f23a9a8.woff2") format("woff2"), url("../fonts/roboto/roboto-regular-webfont.54acebdfcd83.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "roboto-italic";
	src: url("../fonts/roboto/roboto-italic-webfont.c6036ff5a413.woff2") format("woff2"), url("../fonts/roboto/roboto-italic-webfont.0119d3348948.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "roboto-medium";
	src: url("../fonts/roboto/roboto-medium-webfont.1f0bf6e56dc5.woff2") format("woff2"), url("../fonts/roboto/roboto-medium-webfont.7a12dc1c17a9.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "roboto-bold";
	src: url("../fonts/roboto/roboto-bold-webfont.b66f05e06011.woff2") format("woff2"), url("../fonts/roboto/roboto-bold-webfont.e71ecb1d6785.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "roboto-black";
	src: url("../fonts/roboto/roboto-black-webfont.e750be1e9f38.woff2") format("woff2"), url("../fonts/roboto/roboto-black-webfont.3ac90adcfac0.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

/*
 * Montserrat
================================================================================ */
@font-face {
	font-family: "montserrat-regular";
	src: url("../fonts/montserrat/montserrat-regular-webfont.0891dad6bdd1.woff2") format("woff2"), url("../fonts/montserrat/montserrat-regular-webfont.fa6c61d2daa7.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "montserrat-bold";
	src: url("../fonts/montserrat/montserrat-bold-webfont.34fac8b61be1.woff2") format("woff2"), url("../fonts/montserrat/montserrat-bold-webfont.b019c4fcda18.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

/*
 * Muli
================================================================================ */
@font-face {
	font-family: "muli-regular";
	src: url("../fonts/muli/muli-regular-webfont.d5b413f9e235.woff2") format("woff2"), url("../fonts/muli/muli-regular-webfont.d80c057a5bd4.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "muli-light";
	src: url("../fonts/muli/muli-light-webfont.6f07579b9ea7.woff2") format("woff2"), url("../fonts/muli/muli-light-webfont.914c672475ae.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}