* {
    margin: 0;
    padding: 0;
}
 
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}
 
body {
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    background: url("./desert.d4020563b69d.jpg") no-repeat 0px 0px;
    background-repeat: no-repeat;
    background-size: 120% 120%;
    -moz-background-size: 120% 120%;
    height: 100%;
}

.row{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-xs-10{
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
 
#loginDiv {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-right: 15px;
    padding-right:15px;
    align-items: center;
    height: auto;
    background-color: rgba(75, 81, 95, 0.3);
    box-shadow: 7px 7px 17px rgba(52, 56, 66, 0.5);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 20%);
    -moz-transform: translate(-50%, 20%);
    transform: translate( -50%, 20%);
}
 
#name_trip {
    margin-left: 50px;
    color: red;
}
.panel-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

label.values {
    flex: 1 80px;
    padding-right: 1rem;
    color: azure;
    text-align: right;
    padding-left: 1rem;
}

label.items{
    flex: 1 60px;
    padding-left: 1rem;
    color: azure;
    text-align: left;
    padding-right: 1rem;
}
 
input.form-control{
    flex: 3 120px;
    margin-left: 15px;
    border-radius: 5px;
    border-style: hidden;
    height: 30px;   
    background-color: rgba(216, 191, 216, 0.5);
    outline: none;
    color: #f0edf3;
    padding-left: 10px;
    vertical-align: middle;
}
 
.button {
    border-color: cornsilk;
    background-color: rgba(100, 149, 237, .7);
    color: aliceblue;
    border-style: hidden;
    border-radius: 5px;
    width: 100px;
    height: 31px;
    font-size: 16px;
    margin-bottom: 20px;
}

.error-message {
    text-align: center;
    color: red;
}

.error-message ul{
    list-style-type: none;
}

#panel-title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #f0edf3
}

#avatar {
    width: 18rem;
}

#caption-id{
    margin-left:0px;
    height: 9rem;
	padding-bottom: 1.5rem;
}

.navbar {
    background-color: transparent !important;
    background: transparent;
    background-image: none;
    border-color: transparent !important;
}

.navbar.navbar-inverse > div.container-fluid > div > button{
    margin-right: 0.2rem !important;
    margin-top: 2rem;
}

@media only screen and (max-width:1280px){
    .navbar-nav>li>a{
        display: table;
        float: right;
        font-family: "montserrat-regular", sans-serif, HeiTi, "Microsoft JhengHei", SimHei, STHeiti !important;
        font-size: 1.5rem !important;
    }
    
    #navbar-collapse.collapse.navbar-collapse.pull-right{
        margin-top: 2.4rem;
        margin-left: 1.7rem;
        font-family: "montserrat-regular", sans-serif, HeiTi, "Microsoft JhengHei", SimHei, STHeiti !important;
        font-size: 1.5rem !important;
    }

    .navbar {
        margin: 0px 0px 30px 17px; 
    }

}

@media only screen and (max-width:420px){
    .navbar.navbar-inverse{
        margin-left: 0;
    }

    
}


/*
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: url("desert.d4020563b69d.jpg") no-repeat 0px 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

#loginDiv {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: rgba(75, 81, 95, 0.3);
    box-shadow: 7px 7px 17px rgba(52, 56, 66, 0.5);
    border-radius: 10px;
}

#name_trip {
    margin-left: 50px;
    color: red;
}

p,
.sexDiv {
    margin-top: 10px;
    margin-left: 20px;
    color: azure;
}

label{
    color: azure;
    margin-top: 20px;
    margin-left: 20px;
}

.sexDiv>input,
.hobby>input {
    width: 30px;
    height: 17px;
}

input,
select {
    margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border-style: hidden;
    height: 30px;
    width: 200px;
    background-color: rgba(216, 191, 216, 0.5);
    outline: none;
    color: #f0edf3;
    padding-left: 10px;
}

.button {
    margin-top: 15px;
    border-color: cornsilk;
    background-color: rgba(100, 149, 237, .7);
    color: aliceblue;
    border-style: hidden;
    border-radius: 5px;
    width: 100px;
    height: 31px;
    font-size: 16px;
}

.introduce {
    margin-left: 110px;
}

.introduce>textarea {
    background-color: rgba(216, 191, 216, 0.5);
    border-style: hidden;
    outline: none;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #f0edf3;
}

b {
    margin-left: 50px;
    color: #FFEB3B;
    font-size: 10px;
    font-weight: initial;
}
*/



a:link{color:#dbcaca;}      /* 未访问链接*/
a:visited {color:#cad6ca;}  /* 已访问链接 */
a:hover {color:#FF00FF;}  /* 鼠标移动到链接上 */
a:active {color:#3333b4;}  /* 鼠标点击时 */

